* {
  color: #2F2029;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 900;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: #1AFFE7;
  box-shadow: 4px 4px #2F2029;
}
/* Hovercraft */
.link-hover {
  background-color: #1AFFE7;
  box-shadow: 4px 4px #2F2029;
}
/* Navbar */
.nav-brand {
  height: 50px;
  width: 60px;
}
.nav-brand-link:hover {
  background-color: #fff;
  box-shadow: none;
}
.nav-num {
  font-weight: 900;
  margin-right: 10px;
}
/* Clicked underline */
.neon-line {
  text-decoration: underline #F899FF 4px;
  text-underline-offset: 5px;
}
/* Welcome screen */
.welcome-container {
  padding: 50px 0 0 50px;
}
.welcome-container h1 {
  font-size: 4rem;
}
.welcome-description {
  font-size: 1.5rem;
  width: 75%;
}
.pink-grid {
  background-image: url("./assets/pink-grid.png");
  background-repeat: repeat;
  background-size: 200px;
  height: 100%;
  width: 100%;
}
.neon-fluid {
  height: 600px;
  padding-top: 50px;
  position: relative;
  left: 50px;
}
.welcome-menu-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}
